/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff5722; /* Warna khas Shopee */
  padding: 10px 20px;
}

.navbar-left {
  flex: 1;
  padding-left: 30px;
}

.navbar-brand {
  font-size: 24px;
  color: white !important; /* Menambahkan !important */
  text-decoration: none;
  font-weight: bold;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.navbar-search {
  width: 70%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.navbar-search-btn {
  padding: 8px 20px;
  background-color: white;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
  color: #ff5722;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 30px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.navbar-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navbar-center {
    /* display: none; Sembunyikan search bar di layar kecil */
  }

  .navbar-right {
    gap: 10px;
  }

  .navbar {
    padding: 10px;
  }
}
