/* Pastikan Bootstrap diimpor terlebih dahulu di file utama proyek */
@import "bootstrap/dist/css/bootstrap.min.css";

/* Custom CSS untuk Navbar Responsif */
.navbar {
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.form-control {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-brand {
    margin-bottom: 1rem;
  }

  .d-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .form-control {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .btn {
    width: 100%;
  }
}
